
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="goaltitle"></h2>

<div>Score:<span  data-bind="text: numberOfClicks"></span></div>

<section>
    <input class="goal" type='text' value='' placeholder='Where do you want to end up?'>
    <br />
    <button class="wiki">Start</button>
</section>
<section data-bind="click: registerClick" class='articles'>
</section>